<policies>
    <inbound>
        <base />
        <cors>
            <allowed-origins>
                <origin>*</origin>
            </allowed-origins>
            <allowed-methods>
                <method>GET</method>
                <method>POST</method>
            </allowed-methods>
        </cors>
        <!-- set a header to enable mocks -->
        ${enableMockHeader}
        <check-header name="Source-System" failed-check-httpcode="401" failed-check-error-message="Missing/Invalid Header Source-System" ignore-case="true">
            <value>SnL</value>
        </check-header>
        <check-header name="Destination-System" failed-check-httpcode="401" failed-check-error-message="Missing/Invalid Header Destination-System" ignore-case="true">
            <value>CFT</value>
        </check-header>
        <check-header name="Request-Created-At" failed-check-httpcode="401" failed-check-error-message="Missing/Invalid Header Request-Created-At" ignore-case="true">
        </check-header>
        <check-header name="Request-Type" failed-check-httpcode="401" failed-check-error-message="Missing/Invalid Header Request-Type" ignore-case="true">
            <value>THEFT</value>
            <value>ASSAULT</value>
        </check-header>
    </inbound>
    <backend>
        <base />
    </backend>
    <outbound>
        <base />
    </outbound>
    <on-error>
        <base />
    </on-error>
</policies>