---
trigger:
  - none

pr: 
  - none

schedules:
- cron: "0 0 * * *"
  displayName: Daily midnight build
  branches:
    include:
    - master
  always: true

parameters:
  - name: environments
    type: object
    default: 
    - name: test
      subscription: DTS-SHAREDSERVICES-TEST
      group: HMI-APIM-BUILD-TEST
      custom_domain: hmi-apim.perftest.platform.hmcts.net
      tests_gradle:
      - name: UnitTest
        command: test
        logLevel: info
        serenity: true
      - name: SmokeTest
        command: smoke
        logLevel: debug
        serenity: false
        dependsOn: UnitTest
      - name: AcceptanceTest
        command: acceptance
        logLevel: debug
        serenity: false
        dependsOn: SmokeTest
      - name: FunctionalTest
        command: functional
        logLevel: info
        serenity: true
        dependsOn: AcceptanceTest

variables:
  - group: HMI-APIM-Common

stages:

- ${{ each environment in parameters.environments }}:

  - stage: ${{ environment.name }}
    ${{ if environment.condition }}:
      condition: ${{ environment.condition }}
    displayName: Build and Test ${{ environment.name }} APIM
    
    jobs:
    - template: pipeline/jobs/delete-resources.yaml
      parameters:
        subscription: ${{ environment.subscription }}
        resourceGroup: hmi-apim-${{ environment.name }}-rg
        apim: hmi-apim-svc-${{ environment.name }}

    - template: pipeline/jobs/terraform.yaml
      parameters:
        dependsOn: deleteAPIM
        subscription: ${{ environment.subscription }} 
        group: ${{ environment.group }}
        displayName: Build infrastructure with Terraform

    - template: pipeline/jobs/remove-default-apis.yaml
      parameters:
        displayName: Remove default APIS
        subscription: ${{ environment.subscription }}
        environment: ${{ environment.name }}
        dependsOn: Terraform

    - template: pipeline/jobs/apply-hostname.yaml
      parameters:
        subscription: ${{ environment.subscription }}
        displayName: Apply Custom Domain Configuration
        dependsOn: Terraform
        resourceGroup: $(resourceGroup)
        certificateUrl: https://hmi-shared-kv-${{ environment.name }}.vault.azure.net/secrets/apim-hostname-certificate
        hostName: ${{ environment.custom_domain }}
        variables:
          resourceGroup: $[dependencies.Terraform.outputs['terraformOutput.resourceGroup']]

    - template: pipeline/jobs/create-storage.yaml
      parameters:
        displayName: Create Storage for Test Results
        subscription: ${{ environment.subscription }}
        dependsOn: Terraform
        resourceGroup: $(resourceGroup)
        storageAccount: $(storageAccount)
        variables:
          resourceGroup: $[dependencies.Terraform.outputs['terraformOutput.resourceGroup']]
          storageAccount: $[dependencies.Terraform.outputs['terraformOutput.storageAccount']]

    - ${{ if environment.tests_gradle }}:
      - ${{ each test in environment.tests_gradle }}:

        - template: pipeline/jobs/gradle-test.yaml
          parameters:
            displayName: ${{ test.name }}
            dependsOn: 
            - Terraform
            - createStorage
            - ${{ if test.dependsOn }}:
              - ${{ test.dependsOn }}
            serenity: ${{ test.serenity }}
            subscription: ${{ environment.subscription }}
            apimHost: hmi-apim-svc-${{ environment.name }}.azure-api.net
            command: ${{ test.command }}
            logLevel: ${{ test.logLevel }}
            subscriptionKey: $(subscriptionKey)
            resourceGroup: $(resourceGroup)
            storageAccount: $(storageAccount)
            storageContainer: $(storageContainer)
            variables: 
              subscriptionKey: $[dependencies.Terraform.outputs['terraformOutput.subscriptionKey']]
              resourceGroup: $[dependencies.Terraform.outputs['terraformOutput.resourceGroup']]
              storageAccount: $[dependencies.Terraform.outputs['terraformOutput.storageAccount']]
              storageContainer: $[dependencies.createStorage.outputs['createContainer.container']]

    - ${{ if environment.tests_security }}:
      - ${{ each test in environment.tests_security }}:
        - template: pipeline/jobs/security-test.yaml
          parameters:
            displayName: ${{ test.name }}
            dependsOn:
            - Terraform
            - createStorage
            subscription: ${{ environment.subscription }}
            registry: ${{ environment.registry }}
            repository: ${{ test.repository }}
            containerRegistry: ${{ test.containerRegistry }}
            dockerfile: docker/images/${{ test.name }}/Dockerfile
            tags: latest
            testUrl: https://www.example.com/openapi.json 
            securityRules: https://raw.githubusercontent.com/hmcts/security-test-rules/master/conf/security-rules.conf
            resourceGroup: $(resourceGroup)
            storageAccount: $(storageAccount)
            storageContainer: $(storageContainer)
            variables:
              resourceGroup: $[dependencies.Terraform.outputs['terraformOutput.resourceGroup']]
              storageAccount: $[dependencies.Terraform.outputs['terraformOutput.storageAccount']]
              storageContainer: $[dependencies.createStorage.outputs['createContainer.container']]
