trigger:
  - none

pr: 
  - none

resources:
  repositories:
    - repository: azTemplates
      type: github
      name: hmcts/azure-devops-templates
      ref: refs/heads/master
      endpoint: hmcts

schedules:
- cron: "0 1 * * *"
  displayName: Nightly
  branches:
    include:
    - master

parameters:

  - name: environments
    type: object
    default:
      - sbox
      - dev
      - test
      - stg

variables:
  - group: HMI-APIM-Common

stages:
  - ${{ each environment in parameters.environments }}:
    - template: pipeline/stages/test.yaml
      parameters:
        environment: ${{ environment }}
        subscription: DTS-SHAREDSERVICES-${{ upper(environment) }}
        dependsOn: Build${{ environment }}
        